body{
    background-color: #586F7C;
    text-align: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 56px;
}

.affiche{
    width: auto;
    height: 500px;
    border: 3px solid black;
}

#logo{
    float: right;
}

ul{
    list-style-type: none;
}

p{
    font-size: 16px;
}

h2,h3{
    font-size: 22px;
}
