body{
    background-color: #586F7C;
}

h1{
    font-size: 58px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: #F9DEC9;
    margin-top: 20px;
}

.gaumont{
    align-items: center;
    width: 700px;
    height: 300px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}