body{
    background-color: #000000;
    text-align: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 58px;
    color: white;
}

#logo{
    float: right;
}

.left{
    width: 500px;
    height: 200px;
    float: left;
}

.right{
    width: 500px;
    height: 200px;
    float: right;
}