body{
    background-color: #586F7C;
}

h1{
    font-size: 58px;
}

h2{
    font-size: 22px;
}

p{
    font-size: 16px;
}

.div_body{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: flex-end;
}

.secondTitre{
    text-align: center;
}

.popcorn_img{
    width: 80px;
    margin-left: 20px;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: -60px;
    margin-top: 30px;
    margin-right: 90px;
}

.divers_img{
    width: 120px;
}

.mid{
    margin-top: 20px;
    margin-bottom: 20px;
}

.vetement_img{
    width: 120px;
}

#foot{
    position:fixed;
    bottom:0px;
    left:94.5%;
}