body{
    background-color: #586F7C;
}

h1{
    font-size: 58px;
}

h2{
    font-size: 22px;
}

p{
    font-size: 16px;
}

.div_body{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.secondTitre{
    text-align: center;
}

.popcorn_img{
    width: 80px;
    margin-left: 10px;
}